<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{base}">
	<head>
		<title>Unified Annotation</title>

		<style>

			.dropdown {
			  position: relative;
			  display: inline-block;
			}

			.dropdown-content {
			  display: none;
			  position: absolute;
			  background-color: #f1f1f1;
			  min-width: 160px;
			  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			  z-index: 1;
			}

			.dropdown-content a {
			  color: black;
			  padding: 12px 16px;
			  text-decoration: none;
			  display: block;
			}

			.dropdown-content a:hover {background-color: #ddd;}

			.dropdown:hover .dropdown-content {display: block;}

			.dropdown:hover .dropbtn {background-color: #3e8e41;}
						.dropdown-content a:hover {background-color: #ddd;}

			.dropdown:hover .dropdown-content {display: block;}

			.dropdown:hover .dropbtn {background-color: #3e8e41;}
		</style>
		   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
    
    
    
    <div layout:fragment="content">

        
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div th:utext="${html}" id="htmlcontainer"></div>
                </div>
                <div class="col-md-4">
                    <div class="form-group position-fixed">
                        <a id="savebutton" class="btn btn-outline-dark" href="#" role="button"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</a>
                        <!--<a id="dictbutton" class="btn btn-outline-dark" href="#" data-toggle="button" th:classappend="${session.dict.isEmpty()} ? disabled : nothing" role="button"><i class="fa fa-book" aria-hidden="true"></i> Toggle Dict.</a>-->
                        
                        <!--<a id="dictbutton" class="btn btn-outline-dark" href="#" data-toggle="button" th:classappend="${session.showdefs != null && session.showdefs ? 'active' : ''}" role="button"><i class="fa fa-book" aria-hidden="true"></i> Toggle Dict.</a>-->

                        <div class="spacer"></div>

						
                        Options:

                        <div class="form-check">
                            <div class="pretty p-icon">
                                <input id="dictbutton" type="checkbox" th:checked="${session.showdefs != null && session.showdefs}" />
                                <div class="state p-default">
                                    <i class="icon fa fa-check"></i>
                                    <label>Show dictionary</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-check">
                            <div class="pretty p-icon">
                                <input id="romanbutton" type="checkbox" th:checked="${session.showroman != null && session.showroman}" />
                                <div class="state p-default">
                                    <i class="icon fa fa-check"></i>
                                    <label>Show romanization</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-check">
                            <div class="pretty p-icon">
                                <input id="copybutton" type="checkbox" th:checked="${session.allowcopy != null && session.allowcopy}" />
                                <div class="state p-default">
                                    <i class="icon fa fa-check"></i>
                                    <label>Allow copying</label>
                                </div>
                            </div>
                        </div>

                        <div class="spacer"></div>
                        <div th:if="${grouptype} != null">
                            <span th:each="label : ${labels}">
                                <button th:id="'addlabel-' + ${label}"
                                th:class="${label} + ' btn btn-sm'"
                                th:classappend="${grouptype} == ${label} ? bestlabel : ignorelabel"
                                th:text="${label}"></button>
                            </span>
                            <div class="spacer"></div>
                        </div>
                        <!--  -->
                        
                        <input type="text" name="keyword" class="form-control input-sm" placeholder="Search...">
                        
                        <div class="spacer"></div>

                        <div th:if="${previd != null || nextid != null}" class="btn-group" role="group" aria-label="Next and previous">
                            <a th:if="${previd} != -1" th:href="@{/document/annotation(taid=${previd})}" href="#" class="btn btn-outline-secondary saveclass" role="button"><i class="fa fa-chevron-left" aria-hidden="true"></i> Previous</a>
                            <a th:if="${nextid} != -1" th:href="@{/document/annotation(taid=${nextid})}" href="#" class="btn btn-outline-secondary saveclass" role="button">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></span></a>
                        </div>
                        
                        
                        <div class="spacer"></div>
                        
                        <div id="infobox"></div>
                        
                        <div class="spacer"></div>
                        
                        <a style="color:gray" id="back2top" href="#top">Back to top</a>
                        
                    </div>
                    
                </div>
            </div>
            
            <script src="#" th:src="@{/js/annotate.js}"></script>


            
			<template id="buttons">
				<div id = "popup-container" class="container-fluid">
					
					                   <div th:each="label,iterStat : ${labels}" th:if="${iterStat.index % 2 == 0}" class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" th:id="${labels[iterStat.index]}" class="btn pointer btn-light labelbutton" th:classappend="${labels[iterStat.index]}" th:field="${labels[iterStat.index]}" th:value="${labels[iterStat.index]}" th:text="${labels[iterStat.index]}"></button>
                            </div>
                            <div class="col-md-6" th:if="${iterStat.index+1} &lt; ${labels.size()}">
                                <button type="button" th:id="${labels[iterStat.index+1]}" class="btn pointer btn-light labelbutton" th:classappend="${labels[iterStat.index+1]}" th:field="${labels[iterStat.index+1]}" th:value="${labels[iterStat.index+1]}" th:text="${labels[iterStat.index+1]}"></button>
                            </div>
                        </div>
                    </div>
                    
                    <!--<div class="form-group">-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-4">-->
                                <!--<button type="button" id="O" class="btn pointer btn-outline-secondary" value="O">No label</button>-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--</div>-->
                              <style>
							   .add-new {
       
		height: 30px;
		font-weight: bold;
		font-size: 12px;
		text-shadow: none;
		min-width: 100px;
		border-radius: 50px;
		line-height: 13px;
    }
</style>							  
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group mb-3">
                                            <input type="text" id="definput" class="form-control labelbutton enter" placeholder="Definition" aria-label="Definition" aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary labelbutton" role="button" id="submitdict" type="button">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
					<input type="button" class="btn btn-info labelbutton add-new" onclick="addTextFieldToTable()" value = "+Add New Link" />
					<table class="table">
						<thead>
							<tr>
								<th>Link</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody id = "edl-menu-table">

						</tbody>
					</table>

						<script>
							function createEdlTable()
							{
							
								var popup_container = document.getElementById("edl-menu-table");
								var google_link = document.getElementById("google-search-link");
								var header_text = google_link.getAttribute('highlighted-text'); //
								
								var menu_links = '';
								if(typeof(candgenMap)!='undefined' && candgenMap.has(header_text))
								{														
									var values = candgenMap.get(header_text);
									var currentLabel = values[0][0];
									var candidates = values[0][1];
									console.log(candidates);
									
									
									for (var i = 0; i < candidates.length; i++) {
										var element = candidates[i];
										var label = '"'+element[0]+'"';
										
										var link = '"'+element[1]+'"';
										var checked = "";
										if(element[0] == currentLabel)
											checked = "checked";
											var f = '<input '+checked +' onclick="changeCurrentLabel(this)" '+' label='+label +' class= "labelbutton" type="radio" name="optradio">';
											var custom_radio_button_html ='<div class="labelbutton custom-control custom-radio custom-control-inline"><input type="radio" '+checked+' label='+label +' class="labelbutton custom-control-input" name="optradio" id="defaultInline'+i+'"><label class="labelbutton custom-control-label" for="defaultInline'+i+'"></label></div>'
											var trash_button = '<a label='+label+' onclick="tt(this,'+i+')" style="background-color:#D3D3D3; padding:3px 7px;" class="labelbutton" data-toggle="tooltip" title="delete"><i class="fa fa-trash labelbutton"></i></a>';
											menu_links+='<tr><td><a class='+'"edl-menu-link labelbutton" href='+link +' target="_blank">'+element[1]+'</a></td><td style="text-align:right;">'+custom_radio_button_html+trash_button+'</td></tr>';

									}
									


									var edl_html= menu_links;

									popup_container.innerHTML+=edl_html;
									
											
								}
							}
							
							function changeCurrentLabel(rb)
							{
								var google_link = document.getElementById("google-search-link");
								var header_text = google_link.getAttribute('highlighted-text'); //
								
								
								if(typeof(candgenMap)!='undefined' && candgenMap.has(header_text))
								{	
									var values = candgenMap.get(header_text);
									
									values[0][0] = rb.getAttribute("label");
									candgenMap[header_text] = values;
								}								
							}
							function addTextFieldToTable()
							{
								var popup_container = document.getElementById("edl-menu-table");
								//var custom_radio_button_html ='<div class="labelbutton custom-control custom-radio custom-control-inline"><input type="radio" '+checked+' label='+label +' class="labelbutton custom-control-input" name="optradio" id="defaultInline'+i+'"><label class="labelbutton custom-control-label" for="defaultInline'+i+'"></label></div>'
								var trash_button = '<a onclick="deleteLastRow()" style="background-color:#D3D3D3; padding:3px 7px;" class="labelbutton" data-toggle="tooltip" title="delete"><i class="fa fa-trash labelbutton"></i></a>';
								var add_button = '<a onclick="addNewLink()" style="background-color:#D3D3D3; padding:3px 7px;" class="labelbutton" data-toggle="tooltip" title="add"><i class="fa fa-plus labelbutton"></i></a>';
								add_button ='<div class="labelbutton custom-control custom-control-inline">'+add_button+'</div>'
											
								var textfield = '<input id ="new-link" class="labelbutton" type="text">';			
								popup_container.innerHTML+='<tr><td>'+textfield+'</td><td style="text-align:right;">'+add_button+trash_button+'</td></tr>';
							}
							function deleteLastRow()
							{
								var popup_container = document.getElementById("edl-menu-table");
								popup_container.removeChild(popup_container.lastChild);
							}
							function addNewLink()
							{
								var popup_container = document.getElementById("edl-menu-table");
								
								var google_link = document.getElementById("google-search-link");
								var header_text = google_link.getAttribute('highlighted-text'); //
								
								var textfield = document.getElementById('new-link'); //
								
								if(!textfield.value.startsWith("https://"))
								{
									alert("Error, link must start with https://")
									return;
								}
								var values = [];
								if(candgenMap.has(header_text))
								{	
									values = candgenMap.get(header_text);
								}
								var url = textfield.value;
								
								var newLabel = "dummy_id|"+header_text+"|"+url;
								values[0][0] = newLabel;
								var newCandidate = [newLabel,url]
								values[0][1].push(newCandidate);
								candgenMap[header_text] = values;
								
								console.log(candgenMap);
								popup_container.innerHTML = '';
								createEdlTable();
								
								console.log(JSON.stringify(candgenMap));
								
								
							}
						</script>
						<script>
						$(document).ready(function(){
						  $('[data-toggle="tooltip"]').tooltip(); 
							createEdlTable();						  
						});
						function tt(rb, tableRow)
						{
							//alert(tableRow);
							var google_link = document.getElementById("google-search-link");
							var header_text = google_link.getAttribute('highlighted-text'); //
							var popup_container = document.getElementById("edl-menu-table");
								
							
							if(typeof(candgenMap)!='undefined' && candgenMap.has(header_text))
							{	
								console.log(candgenMap);
								var values = candgenMap.get(header_text);
								var chosenLabel = rb.getAttribute("label");
								var candidates = values[0][1];
								console.log(candidates)
								console.log(chosenLabel)
								for(var i =0;i<candidates.length;i++)
								{
									if(candidates[i][0] == chosenLabel)
									{
									console.log(candidates[i][0])
										candidates.splice(i, 1);
										break;
									}
								}
								if(candidates.length>0)
								{
									values[0][0] = candidates[0][0];
								}
								else
								{
									values[0][0] = null;
								}
								candgenMap[header_text] = values;
								console.log(candgenMap);
								
								//console.log(JSON.stringify(candgenMap));
								
								popup_container.innerHTML = '';
								createEdlTable();
								
								
								//console.log(JSON.stringify(candgenMap));
								
							}	
							
						}
						</script>
					</div>
					
				</template>
                        
			</div>
		</div>  
	</body>

</html>